@font-face {
    font-family: Open Sans;
    src: url('OpenSans-Regular.ttf');
}

body {
    margin: 0 auto;
    width: 60%;
    font-family: Open Sans;
}

ul#menu {
    padding-left: 0;
}

ul#menu li {
    display: inline;
    padding-right: 1rem;
}

.portrait {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.copyright {
    font-size: 0.9rem;
}